body {
	background-color: black;
	color: white;font-family: 'IBM Plex Mono', monospace;
}

header {
	font-size: 25pt;
	height: 100px;
}

.navbar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.navbar div {
	display: inline-block;
	padding: 0px 20px;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	line-height: 100px;
}

.navbar div:hover {
	background-color: gray;
}

#content {
	height: 100%;
}

.left-panel {
	display: inline-block;
	width: 49%;
	height: 100%;
	border-right: 1px solid gray;
}

.right-panel {
	display: inline-block;
	width: 49%;
	height: 100%;
}
